NEXT_PUBLIC_SUPABASE_URL=https://kylianmqyewlfoypcjve.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_PruC-frXdwdQntQxx5jybQ_BTE0ifB3
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
INFO_EMAIL=info@nancys.es
ORDER_EMAIL=orders@nancys.es
ACCOUNT_EMAIL=account@nancys.es
FROM_EMAIL=Nancy's Castalla <orders@nancys.es>
PRODUCT_IMAGES_BUCKET=product-images
