NEXT_PUBLIC_SUPABASE_URL=https://kylianmqyewlfoypcjve.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_PruC-frXdwdQntQxx5jybQ_BTE0ifB3
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ORDER_EMAIL=orders@nancyscastalla.com
FROM_EMAIL=Nancy's Castalla <orders@nancyscastalla.com>
